<div class="technical-skills skills-container" [class.opacity-animation]="animate" [class.opacity]="transparent && !animate">
    <h3>{{ box.name }}</h3>
    <ul>
        @for (skill of box.skills; track $index) {
            @if(skill.badges.length > 0) {
                <li>
                    <div class="skill-set">{{ skill.name }}</div>
                    <div class="badges-wrapper">
                        <div class="badges-container">
                            @for (badge of skill.badges; track $index) {
                                <span class="badge"><img src="{{ badge.image }}" alt="{{ badge.name }}">{{ badge.name }}</span>
                            }
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>