<section class="contact" [attr.data-loaded]="isLoaded">
    <h2>Contact Me</h2>
    <div class="contact-content">
        <div class="wrap">
            <div class="side">
                <div class="contact-form">
                    <form>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" required>
                    
                        <label for="message">Message</label>
                        <textarea id="message" name="message" rows="4" required></textarea>
                    
                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </div>
    
            <div class="side">
                <div class="contact-info">
                    <p>Email: bruno.jair.ea&#64;gmail.com</p>
                    <p>Phone: <a href="https://wa.me/51992023441" target="_blank">+51 992 023 441</a></p>
                    <p>Address: Calle Alejandro Peralta Mz G Lt 4 Urb. Villa Victoria - Surquillo, Lima, Peru</p>
                    <p>I typically respond within 24 hours during weekdays.</p>
                </div>
                
                <div class="social-media">
                    <h4>Connect with Me</h4>
                    <ul class="social-icons">
                        <li><a href="https://www.linkedin.com/in/bruno-escobedo/" target="_blank"><img width="40px" src="assets/linkedin-footer.png" alt="LinkedIn"></a></li>
                        <li><a href="https://github.com/CallistoScope" target="_blank"><img width="40px" src="assets/github-footer.png" alt="GitHub"></a></li>
                        <li><a href="https://x.com/BrunoEscobedoA" target="_blank"><img width="40px" src="assets/twitter-footer.png" alt="Twitter"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
  