<section class="about" [attr.data-loaded]="isLoaded">
    <div class="about-content">
      <h2>About Me</h2>
      <section>
        <p>
          Hello! I'm Bruno Escobedo, a passionate software developer based in Lima, Peru.
          I am a dedicated and detail-oriented professional with a background in fiber optic projects, currently transitioning into the dynamic fields of software development and cybersecurity.
        </p>
        <p>
          With a strong foundation in technical problem-solving, project management, and risk assessment, I bring a unique perspective to the challenges of protecting digital assets and better software development practices.
        </p>
        <p>
          My passion for cybersecurity has driven me to <span class="show-animation">obtain certifications such as [Name of Certifications],</span>
          learn about ethical hacking through <abbr title="Catch The Flag">CTF</abbr> platforms like <abbr title="Hack The Box">HTB</abbr> and <abbr title="TryHackMe">THM</abbr>,
          which helped me gain hands-on experience with tools like Nmap, Metasploit and Kali Linux.
        </p>
        <p>
          Additionally, I am deeply interested in software engineering and have been enhancing my skills through coding in various programming languages such as Python, C, C++, JavaScript, TypeScript, SQL,
          and using frameworks such as Angular.
        </p>
        <p>
          Driven by a passion for protecting digital assets and developing robust software solutions, I am committed to continuous learning and eager to contribute to a proactive cybersecurity and software engineering team.
          My goal is to leverage my technical expertise and collaborative spirit to enhance information security, resilience, and software development practices.
        </p>
      </section>
      
      <section class="show-animation">
        <h3>Education</h3>
        <p>I hold a Bachelor's degree in Electronic Engineering from <abbr title="Universidad Nacional de Ingeniería">UNI</abbr>.</p>
      </section>
      
      <section class="show-animation">
        <h3>Work Experience</h3>
        <p>Previously, I worked at {{ last_job.company.name }} as {{ last_job.position }} where I was responsible of {{ last_job.responsibilities.join('. ') }}</p>
        <div class="button-block">
          <button routerLink="/experience" (click)="scrollUp()">See More</button>
        </div>
      </section>
      
      <section class="show-animation">
        <h3>Principal Skills</h3>
        <ul>
          <li><strong>Spoken Languages:</strong> Spanish (Native), English (B2), Portuguese (A2), French (A1), German (A1).</li>
          <li><strong>Technical Skills:</strong> HTML, CSS, JavaScript, TypeScript, Angular, C, C++, Python, SQL.</li>
          <li><strong>Soft Skills:</strong> Problem-Solving, Time Management, Critical Thinking, Self-Esteem, Empathy, Collaboration, Adaptability, Flexibility, Creativity.</li>
        </ul>
        <div class="button-block">
          <button routerLink="/skills" (click)="scrollUp()">See More</button>
        </div>
      </section>
      
      <section class="hidden show-animation">
        <h3>Achievements</h3>
        <p>I led a team that developed [specific project or product], which resulted in [specific achievement or impact].</p>
      </section>
      
      <section class="show-animation">
        <h3>Interests</h3>
        <p>Outside of work, I enjoy hanging out with my friends and working on my personal projects, which helps me maintain a balanced perspective.</p>
      </section>
    </div>
  </section>
  