.footer {
    background-color: #141d2b;
    background: linear-gradient(0, #141d2b, #141d2b, #141d2bdd, #141d2bbb, #141d2b99, transparent);
    color: #a4b1cd;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer h4 {
    color: #eee;
}

.footer-content .contact-info,
.footer-content .social-media {
    flex: 1;
    padding: 0 20px;
}
.footer-content .social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.footer-content .social-icons li {
    margin: 0 10px;
}
.footer-content .social-icons li a img:hover {
    opacity: 0.7;
}

.legal {
    margin-top: 20px;
}

.legal p {
    margin: 5px 0;
}

.legal a {
    color: #a4b1cd;
    text-decoration: none;
}

.legal a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dialog {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9998;
    scrollbar-width: 5px;
    scrollbar-color: #ccc #fff;
    overflow-y: auto;
}
.privacy-policy p, .terms-of-service p {
    text-align: justify;
}
.close-button {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 10vh 10vw;
    background-color: transparent;
    color: #555;
    border: none;
    font-size: 40px;
    cursor: pointer;
    z-index: 9999;
}
.close-button:hover {
    color: #000;
}
.close-button:active {
    transform: scale(0.9);
}
.social-icons img {
    opacity: 0.5;
}
