.navbar {
    position: relative;
    width: 100%;
    background-color: #141d2b;
    padding: 10px;
    box-sizing: border-box;
    text-align: end;
}

.navbar .toggle-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    margin: 0;
}
.navbar li .toggle-btn {
    font-size: 40px;
    margin-bottom: 5px;
}

.navbar .sidebar {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100%;
    width: 200px;
    background-color: #141d2b;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 99;
}

.navbar .sidebar.active {
    right: 0;
}

.navbar .sidebar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar .sidebar ul {
    padding: 10px;
    box-sizing: border-box;
}

.navbar .sidebar ul li a {
    color: #a4b1cd;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #555;
    transition: 0.3s;
    font-size: larger;
}

.navbar .sidebar ul li a:hover {
    color: #ddd;
}

/* Media query for mobile screens */
@media (min-width: 560px) {
    .navbar .toggle-btn {
        display: none;
    }

    .navbar .sidebar {
        position: static;
        width: auto;
        display: flex;
        height: auto;
        background-color: transparent;
        flex-direction: row;
    }
    .navbar .sidebar ul {
        flex-direction: row;
    }
    .navbar .sidebar ul li {
        margin: 0;
    }
    .navbar .sidebar ul li a {
        border-bottom: none;
    }
}