<section class="about" [attr.data-loaded]="isLoaded">
    <div class="about-content">
      <section>
        <h2>About Me</h2>
        <p>
          Hello! I'm Bruno Escobedo, a passionate software developer based in Lima, Peru.
          I am a dedicated and detail-oriented professional with a background in fiber optic projects, currently transitioning into the dynamic fields of software development and cybersecurity.
        </p>
        <p>
          With a strong foundation in technical problem-solving, project management, and risk assessment, I bring a unique perspective to the challenges of protecting digital assets and better software development practices.
        </p>
        <p>
          My passion for cybersecurity has driven me to <span class="hidden">obtain certifications such as [Name of Certifications],</span>
          learn about ethical hacking through <abbr title="Catch The Flag">CTF</abbr> platforms like <abbr title="Hack The Box">HTB</abbr> and <abbr title="TryHackMe">THM</abbr>,
          which helped me gain hands-on experience with tools like Nmap, Metasploit and Kali Linux.
        </p>
        <p>
          Additionally, I am deeply interested in software engineering and have been enhancing my skills through .
        </p>
        <p>
          Driven by a passion for protecting digital assets and developing robust software solutions, I am committed to continuous learning and eager to contribute to a proactive cybersecurity and software engineering team.
          My goal is to leverage my technical expertise and collaborative spirit to enhance information security, resilience, and software development practices.
        </p>
      </section>
      
      <section>
        <h3>Education</h3>
        <p>I hold a Bachelor's degree in Electronic Engineering from <abbr title="Universidad Nacional de Ingeniería">UNI</abbr>, with a minor in [Related Field].</p>
      </section>
      
      <section>
        <h3>Work Experience</h3>
        <p>Previously, I worked at [Company Name] where I was responsible for [brief description of responsibilities].</p>
      </section>
      
      <section>
        <h3>Skills</h3>
        <ul>
          <li>Technical Skills: [List of technical skills]</li>
          <li>Soft Skills: [List of soft skills]</li>
        </ul>
      </section>
      
      <section class="hidden">
        <h3>Achievements</h3>
        <p>I led a team that developed [specific project or product], which resulted in [specific achievement or impact].</p>
      </section>
      
      <section>
        <h3>Interests</h3>
        <p>Outside of work, I enjoy [hobby] and [interest], which helps me maintain a balanced perspective.</p>
      </section>
    </div>
  </section>
  