.about {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.about[data-loaded="true"] {
    opacity: 1;
}
  
.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.about section {
    margin: 40px 20px;
}