<div class="dynamic-viewport-title"
    [style.height]="load() ? '0px' : '100dvh'"
    [style.opacity]="load() ? '0' : '1'"
    [style.transform]="load() ? 'translateY(-100px)' : 'translateY(0)'"
    [style.display]="hide() ? 'none' : 'flex'"
>
    <app-typing-text [text]="title"/>
</div>

@if (load()) {
    <div class="full-stack">
        <div class="page-title">
            <mat-icon [style.font-size.px]="45" [style.width.px]="45" [style.height.px]="45">electric_bolt</mat-icon>
            <h1>Skills</h1>
        </div>
        @if (loaded()) {
            <div class="full-stack fetch-animation">
                <mat-tab-group class="full-width" mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>build</mat-icon>
                            &nbsp;Hard Skills
                        </ng-template>
                        <div class="full-stack content">
                            @for (set of hardSkills; track $index) {
                                @defer (on viewport) {
                                    <mat-card class="skills-card fetch-animation" [class]="'border-' + ($index % 4 + 1)" appearance="outlined">
                                        <mat-card-header>
                                            <mat-card-title [class]="'gradient-text-' + ($index % 4 + 1)">{{ set.name }}</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <br>
                                            <mat-chip-set>
                                                @for (skill of set.skills; track $index) {
                                                    <mat-chip matTooltip="{{ skill.level }}" [routerLink]="'/skills/' + skill.path">
                                                        <div
                                                            matChipAvatar
                                                            [style.height]="'100%'"
                                                            [style.background-image]="'url(' + skill.image + ')'"
                                                            [style.background-size]="'contain'"
                                                            [style.background-position]="'center'"
                                                            [style.background-repeat]="'no-repeat'"
                                                        ></div>
                                                        {{ skill.name }}
                                                    </mat-chip>
                                                }
                                            </mat-chip-set>
                                        </mat-card-content>
                                    </mat-card>
                                } @placeholder {
                                    <div class="placeholder full-stack" [style.height.px]="200"><mat-spinner></mat-spinner></div>
                                }
                            }
                        </div>
                    </mat-tab>
        
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>handshake</mat-icon>
                            &nbsp;Soft Skills
                        </ng-template>
                        <div class="full-stack content">
                            @for (set of softSkills; track $index) {
                                @defer (on viewport) {
                                    <mat-card class="skills-card fetch-animation" [class]="'border-' + ($index % 4 + 1)" appearance="outlined">
                                        <mat-card-header>
                                            <img mat-card-avatar [src]="set.image" [alt]="set.name">
                                            <mat-card-title [class]="'gradient-text-' + ($index % 4 + 1)">{{ set.name }}</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <br>
                                            @defer (on viewport) {
                                                <div class="full-stack bloom-animation">
                                                    @let score = avgLevels(set.skills);
                                                    <app-spinner [value]="score"/><br>
                                                </div>
                                            } @placeholder (minimum 250ms) {
                                                <div class="full-stack transparent">
                                                    <div class="relative">
                                                        <mat-spinner></mat-spinner>
                                                    </div>
                                                </div>
                                            }
                                            <mat-list>
                                                @for (skill of set.skills; track $index) {
                                                    @let ssTag = getSSTag(skill);
                                                    @defer (on viewport) {
                                                        <mat-list-item class="fetch-animation" lines="3">
                                                            <app-spinner matListItemIcon [style.width.px]="40" [value]="ssTag.level * 10" [diameter]="40"/>
                                                            <span matListItemTitle>{{ ssTag.name }}</span>
                                                            <span>{{ ssTag.description }}</span>
                                                        </mat-list-item>
                                                    } @placeholder {
                                                        <mat-list-item class="transparent" lines="3">
                                                            <mat-spinner matListItemIcon></mat-spinner>
                                                            <span matListItemTitle>{{ ssTag.name }}</span>
                                                            <span>{{ ssTag.description }}</span>
                                                        </mat-list-item>
                                                    }
                                                }
                                            </mat-list>
                                        </mat-card-content>
                                    </mat-card>
                                } @placeholder {
                                    <div class="placeholder full-stack" [style.height.px]="500"><mat-spinner></mat-spinner></div>
                                } @loading {
                                    <div class="placeholder full-stack" [style.height.px]="500"><mat-spinner></mat-spinner></div>
                                } @error {
                                    <div class="placeholder full-stack" [style.height.px]="500">
                                        <mat-icon>error</mat-icon>
                                        <span>Error loading skills.</span>
                                    </div>
                                }
                            }
                        </div>
                    </mat-tab>
        
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>language</mat-icon>
                            &nbsp;Languages
                        </ng-template>
                        <div class="full-stack content">
                            @for (set of languages; track $index) {
                                @defer (on viewport) {
                                    <mat-card class="skills-card fetch-animation" [class]="'border-' + ($index % 4 + 1)" appearance="outlined">
                                        <mat-card-header>
                                            <mat-card-title [class]="'gradient-text-' + ($index % 4 + 1)">{{ set.name }}s</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <br>
                                            <mat-chip-set>
                                                @for (skill of set.skills; track $index) {
                                                    <mat-chip matTooltip="{{ skill.level }}" [routerLink]="'/skills/' + skill.path">
                                                        <div
                                                            matChipAvatar
                                                            [style.height]="'100%'"
                                                            [style.background-image]="'url(' + skill.image + ')'"
                                                            [style.background-size]="'contain'"
                                                            [style.background-position]="'center'"
                                                            [style.background-repeat]="'no-repeat'"
                                                        ></div>
                                                        {{ skill.name }}
                                                    </mat-chip>
                                                }
                                            </mat-chip-set>
                                        </mat-card-content>
                                    </mat-card>
                                } @placeholder {
                                    <div class="placeholder full-stack" [style.height.px]="200"><mat-spinner></mat-spinner></div>
                                }
                            }
                            @defer (on viewport) {
                                <div [style.max-width.px]="400">
                                    <div class="section-title fetch-animation">Connect with me in Duolingo</div>
                                    <div class="panel">
                                        <img width="100%" src="assets/duolingo-profile.png" alt="Duolingo Profile">
                                    </div>
                                </div>
                            } @placeholder {
                                <div>
                                    <div class="section-title transparent">Connect with me in Duolingo</div>
                                    <div class="panel">
                                        <img width="100%" src="assets/duolingo-profile.png" alt="Duolingo Profile">
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <button mat-fab (click)="scrollUp(0, 'smooth')"><mat-icon>arrow_upward</mat-icon></button><br>
            </div>
        } @else {
            <div class="viewport">
                <mat-spinner></mat-spinner>
            </div>
        }
    </div>
}
