<section class="experience" [attr.data-loaded]="isLoaded">
    <h2>Experience</h2>
    <div class="experience-content">
        <div class="job-entry">
            <h3>Project Assistant</h3>
            <p><strong>YOFC PERÚ S.A.C.</strong> | <span>Lima</span> | <span>Oct 2023 - Feb 2024</span></p>
            <ul>
                <li>General support in management, supervision and coordination in PA, OSP and IT.</li>
            </ul>
        </div>
        
        <div class="job-entry">
            <h3>PA Assistant</h3>
            <p><strong>YOFC PERÚ S.A.C.</strong> | <span>Lima</span> | <span>Dec 2022 - Oct 2023</span></p>
            <ul>
                <li>Review of node energization deliverables. Low voltage network design. Monitoring the progress of the project.</li>
            </ul>
        </div>

        <div class="job-entry">
            <h3>OSP Assistant</h3>
            <p><strong>YOFC PERÚ S.A.C.</strong> | <span>Lima</span> | <span>Oct 2022 - Dec 2022</span></p>
            <ul>
                <li>Logistical control of fiber optic network implementation materials for OSP and IT.</li>
            </ul>
        </div>

        <div class="job-entry">
            <h3>AI Community Surfer</h3>
            <p><strong>TELUS International</strong> | <span>Remote</span> | <span>Apr 2023 - Jun 2023</span></p>
            <ul>
                <li>Review online search results with the aim of improving internet search results (Google search, Play Store and YouTube).</li>
                <li>Provide feedback and analysis on content found in search engine results.</li>
                <li>Provide ratings on their relevance to the search terms used.</li>
            </ul>
        </div>

        <div class="job-entry">
            <h3>Personalized Internet Ads Asessor</h3>
            <p><strong>TELUS International</strong> | <span>Remote</span> | <span>Jan 2023 - Mar 2023</span></p>
            <ul>
                <li>Review online ads to improve their content, quality and design.</li>
                <li>Provide feedback and analysis on ads found in search engine results (Google Search, Play Store and YouTube).</li>
                <li>Provide ratings on their relevance to the search terms used.</li>
                <li>Review the Language used in advertisements by examining grammar, tone and cultural-relevance.</li>
            </ul>
        </div>

        <div class="job-entry">
            <h3>NOC Operator</h3>
            <p><strong>WOWTEL PERÚ S.A.C.</strong> | <span>Lima</span> | <span>Jan 2022 - Jul 2022</span></p>
            <ul>
                <li>Fiber Optic Network Monitoring and Control.</li>
                <li>ONT's devices and VoIP service instalation and configuration.</li>
            </ul>
        </div>
        
        <!-- Repeat job-entry structure for each job position -->
    </div>
</section>
