.projects {
    background-color: transparent;
    text-align: justify;
    opacity: 0;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects[data-loaded="true"] {
    opacity: 1;
}
.projects h2 {
    padding: 0px;
    margin-top: 40px;
    color: #fff;
}

.projects-content {
    max-width: 700px;
    margin: 10px;
}

.project-entry {
    margin: 20px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
}

.project-entry h3 {
    margin-top: 10px;
    color: #00b5b8;
}

.project-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-links {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    max-width: 500px;
}

.project-links a {
    padding-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 50px;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.project-links img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.project-links a:hover {
    transform: scale(1.05);
}