<div class="home" [attr.data-loaded]="isLoaded">
    <div class="profile">
        <div class="profile-img gradient-background">
            @defer (on viewport; prefetch on idle) {
                <img src="assets/profile-img.jpg" alt="EscobeDev">
            } @placeholder {
                <div width="150px" height="150px"></div>
            }
        </div>
        <div class="profile-info">
            <h1>Bruno Escobedo</h1>
            <div class="social"><span class="gradient-text">&#64;escobedev</span></div>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/bruno-escobedo/" target="_blank"><img width="30px" src="assets/linkedin-footer.png" alt="LinkedIn"></a></li>
                <li><a href="https://github.com/escobedev" target="_blank"><img width="30px" src="assets/github-footer.png" alt="GitHub"></a></li>
                <li><a href="https://x.com/escobedev" target="_blank"><img width="30px" src="assets/twitter-footer.png" alt="Twitter"></a></li>
            </ul>
        </div>
    </div>
    <p>Hi, I'm <strong>Bruno Jair Escobedo Aguilar</strong>, a self-educated <strong>software developer</strong></p>
</div>
<div class="home-buttons">
    <div class="buttons">
        <button routerLink="/projects">View My Work</button>
        <button routerLink="/contact">Contact Me</button>
    </div>
</div>