<div class="home" [attr.data-loaded]="isLoaded">
    <div class="profile">
        <div class="profile-img gradient-background">
            @defer (on viewport; prefetch on idle) {
                <img src="assets/profile-img.jpg" alt="EscobeDev">
            } @placeholder {
                <div width="150px" height="150px"></div>
            }
        </div>
        <div class="profile-info">
            <h1>Bruno Escobedo</h1>
            <div class="social"><span class="gradient-text">&#64;escobedev</span></div>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/bruno-escobedo/" target="_blank"><img width="30px" src="assets/linkedin-footer.png" alt="LinkedIn"></a></li>
                <li><a href="https://github.com/escobedev" target="_blank"><img width="30px" src="assets/github-footer.png" alt="GitHub"></a></li>
                <li><a href="https://x.com/escobedev" target="_blank"><img width="30px" src="assets/twitter-footer.png" alt="Twitter"></a></li>
            </ul>
        </div>
    </div>
    <p>Hi, I'm <strong>Bruno Jair Escobedo Aguilar</strong>, a self-educated <strong>software developer</strong></p>
</div>
<section>
    <div class="block show-animation">
        <h2>About Me</h2>
        <div class="section-item">
            Hello! I'm Bruno Escobedo, a passionate software developer based in Lima, Peru.
            I am a dedicated and detail-oriented professional with a background in fiber optic projects, currently transitioning into the dynamic fields of software development and cybersecurity.
            <button routerLink="/about" (click)="scrollUp()">Read more</button>
        </div>
    </div>
    <div class="block show-animation">
        <h2>My Latest Projects</h2>
        @for (project of latest_projects; track $index) {
            <div class="project">
                <h3>{{ project.name }}</h3>
                <p>{{ project.details[0] }}</p>
                <div class="project-foot">
                    <div class="tech-icons">
                        @for (icon of project.technologies; track $index) {
                            <img height="20px" src="{{ icon.image }}" alt="{{ icon.name }}">
                        }
                    </div>
                    <div class="project-links">
                        <a href="{{ project.link }}" target="_blank"><img width="30px" src="assets/web.png" alt="Live Demo"></a>
                        <a href="{{ project.github }}" target="_blank"><img width="30px" src="assets/github.svg" alt="View Code"></a>
                    </div>
                </div>
            </div>
        }
        <div class="buttons">
            <button routerLink="/projects" (click)="scrollUp()">View My Work</button>
            <button routerLink="/contact" (click)="scrollUp()">Contact Me</button>
        </div>
    </div>
</section>
