<section class="projects" [attr.data-loaded]="isLoaded">
    <div><h2>Projects</h2></div>
    <div class="projects-content">
        @for (project of Projects; track $index) {
            @defer (on viewport; prefetch on viewport) {
                <app-project-box [project]="project" [animate]="true" (loaded)="loaded($event)" />
            } @placeholder {
                <app-project-box [project]="project" [transparent]="true" />
            }
        }
        @defer (on viewport; prefetch on viewport) {
            <app-project-box [project]="soon" [animate]="true" (loaded)="loaded($event)" />
        } @placeholder {
            <app-project-box [project]="soon" [transparent]="true" />
        }
    </div>
</section>
