.projects {
    background-color: transparent;
    text-align: justify;
    opacity: 0;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects[data-loaded="true"] {
    opacity: 1;
    animation: jump 1s;
}
@keyframes jump {
    from { margin-top: 200px; }
    to { margin-top: 0; }
}

.projects h2 {
    padding: 0px;
    margin-top: 40px;
    color: #fff;
}

.projects-content {
    margin: 10px;
}
