<div class="flex-container">
    <p
        [style.font-size]="'3rem'"
        [style.text-align]="'center'"
        [style.margin]="'20px'"
        [style.height]="load() ? '3em' : '75vh'"
        [style.transition]="'height 1s ease-in-out'"
        [style.display]="'flex'"
        [style.justify-content]="'center'"
        [style.align-items]="'center'"
    >
        <app-typing-text [text]="title"/>
    </p>
    @if (load()) {
        <div class="flex-container">
            <div class="general-overview">
                <div class="company-list">
                    @for (company of companies; track $index) {
                        <div class="company">
                            <div class="company-title">
                                <div class="company-logo"><img src="{{ company.logo }}" alt="{{ company.name }}"></div>
                                <div class="company-name">{{ company.name }}</div>
                            </div>
                            <div class="company-description">{{ company.description }}</div>
                            <div class="company-positions">
                                @for (jobPosition of JobEntries; track $index) {
                                    @if (jobPosition.company.name == company.name) {
                                        <div class="job-position">{{ jobPosition.position }}</div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="grid-list">
                @for (jobEntry of jobEntries(); track $index) {
                    @defer (on viewport) {
                        <app-job-box [job]="jobEntry" [index]="$index % 4 + 1" (loaded)="loaded($event)" />
                    } @placeholder {
                        <app-job-box [job]="jobEntry" [style.opacity]="0" />
                    }
                }
            </div>
        </div>
        <button mat-fab (click)="scrollUp()"><mat-icon>arrow_upward</mat-icon></button>
        <br>
        <app-footer class="full-width" />
    }
</div>