<div class="dynamic-viewport-title"
    [style.height]="load() ? '0px' : '100dvh'"
    [style.opacity]="load() ? '0' : '1'"
    [style.transform]="load() ? 'translateY(-100px)' : 'translateY(0)'"
    [style.display]="hide() ? 'none' : 'flex'"
>
    <app-typing-text [text]="title"/>
</div>

@if (load()) {
    <div class="full-stack">
        <div class="page-title">
            <mat-icon [style.font-size.px]="45" [style.width.px]="45" [style.height.px]="45">work</mat-icon>
            <h1>Job Experience</h1>
        </div>
        @if (loaded()) {
            <div class="full-stack">
                <!-- <div class="general-overview">
                    <div class="company-list">
                        @for (company of allCompanies; track $index) {
                            <div class="company">
                                <div class="company-title">
                                    <div class="company-logo"><img src="{{ company.logo }}" alt="{{ company.name }}"></div>
                                    <div class="company-name">{{ company.name }}</div>
                                </div>
                                <div class="company-description">{{ company.description }}</div>
                                <div class="company-positions">
                                    @for (jobPosition of allJobs; track $index) {
                                        @if (getCompany(jobPosition.company).name == company.name) {
                                            <div class="job-position">{{ jobPosition.position }}</div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div> -->
                <div class="grid-list">
                    @for (job of jobs(); track $index) {
                        @let company = getCompany(job.company);
                        @let tags = getTags(job.hardSkills.concat(job.softSkills));
                        @let ssTags = getSSTags(job.softSkills);
                        @defer (on viewport) {
                            <app-job-box [job]="job" [company]="company" [tags]="tags" [ssTags]="ssTags" [index]="$index % 4 + 1" [soft-skills]="softSkills()" (loaded)="loadNextJob($event)" />
                        } @placeholder {
                            <app-job-box [job]="job" [company]="company" [tags]="tags" [ssTags]="ssTags" [style.opacity]="0" />
                        }
                    }
                </div>
            </div>
            <button mat-fab (click)="scrollUp(0, 'smooth')"><mat-icon>arrow_upward</mat-icon></button>
            <br>
        } @else {
            <div class="viewport">
                <mat-spinner></mat-spinner>
            </div>
        }
    </div>
}
