<section class="skills" [attr.data-loaded]="isLoaded">
    <div class="chunk">
        <h2>Skills</h2>
        <div class="skills-overview">
            <div class="skills-overview-content"> 
                <div class="thm-overview">
                    <app-thm-badge />
                </div> 
                <div class="htb-overview">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="skills-content">
        @defer (on viewport; prefetch on viewport) {
            <app-skills-box [box]="Boxes[0]" />
        } @placeholder {
            <app-skills-box [box]="Boxes[0]" [transparent]="true" />
        } @loading (minimum 1s){
            <app-skills-box [box]="Boxes[0]" [animate]="true" />
        }

        @defer (on viewport; prefetch on viewport) {
            <app-skills-box [box]="Boxes[1]" />
        } @placeholder {
            <app-skills-box [box]="Boxes[1]" [transparent]="true" />
        } @loading (minimum 1s){
            <app-skills-box [box]="Boxes[1]" [animate]="true" />
        }
    </div>
    
    <!-- Add certifications, tools, or additional skills as necessary -->
</section>
