<section class="skills" [attr.data-loaded]="isLoaded">
    <div class="skills-content">
        <h2>Skills</h2>
        
        <div class="technical-skills">
            <h3>Technical Skills</h3>
            <ul>
                <li>
                    Languages:
                    <div class="badges-container">
                        <span class="badge"><img src="assets/js.png" alt="JavaScript">JavaScript</span>
                        <span class="badge"><img src="assets/ts.svg" alt="TypeScript">TypeScript</span>
                        <span class="badge"><img src="assets/html.svg" alt="HTML5">HTML5</span>
                        <span class="badge"><img src="assets/css.svg" alt="CSS3">CSS3</span>
                        <span class="badge"><img src="assets/sql.png" alt="SQL">SQL</span>
                        <span class="badge"><img src="assets/python.png" alt="Python">Python</span>
                        <span class="badge"><img src="assets/c.png" alt="C">C</span>
                        <span class="badge"><img src="assets/cpp.svg" alt="C++">C++</span>
                        <span class="badge"><img src="assets/csharp.svg" alt="C#">C#</span>
                        <span class="badge"><img src="assets/java.png" alt="Java">Java</span>
                    </div>
                </li>
                <li>
                    Front-end:
                    <div class="badges-container">
                        <span class="badge"><img src="favicon.ico" alt="Angular">Angular</span>
                        <span class="badge"><img src="assets/bootstrap.svg" alt="Bootstrap">Bootstrap</span>
                    </div>
                </li>
                <li>
                    Back-end:
                    <div class="badges-container">
                        <span class="badge"><img src="assets/nodejs.svg" alt="Node.js">Node.js</span>
                        <span class="badge"><img src="assets/express.svg" alt="Express.js">Express.js</span>
                        <span class="badge"><img src="assets/django.svg" alt="Django">Django</span>
                    </div>
                </li>
                <li>
                    Databases:
                    <div class="badges-container">
                        <span class="badge"><img src="assets/mysql.png" alt="MySQL">MySQL</span>
                        <span class="badge"><img src="assets/postgresql.svg" alt="PostgreSQL">PostgreSQL</span>
                        <span class="badge"><img src="assets/mongodb.png" alt="MongoDB">MongoDB</span>
                    </div>
                </li>
                <li>
                    Version Control: 
                    <div class="badges-container">
                        <span class="badge"><img src="assets/git.svg" alt="Git">Git</span>
                        <span class="badge"><img src="assets/github.svg" alt="GitHub">GitHub</span>
                        <span class="badge"><img src="assets/GitLab.png" alt="GitLab">GitLab</span>
                    </div>
                </li>
                <li>
                    Other:
                    <div class="badges-container">
                        <span class="badge"><img src="assets/firebase.png" alt="Firebase">Firebase</span>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="soft-skills">
            <h3>Soft Skills</h3>
            <ul>
                <li>Communication: Effective verbal and written communication skills.</li>
                <li>Teamwork: Collaborative approach to project development and problem-solving.</li>
                <li>Problem-solving: Analytical thinking and creative solutions to technical challenges.</li>
                <li>Time Management: Efficient task prioritization and meeting deadlines.</li>
            </ul>
        </div>
        
        <div class="industry-knowledge">
            <h3>Industry Knowledge</h3>
            <ul>
                <li>Familiarity with e-commerce platforms and payment gateways.</li>
                <li>Understanding of Agile methodologies and Scrum framework.</li>
                <li>Knowledge of UX/UI design principles for web applications.</li>
            </ul>
        </div>
        
        <!-- Add certifications, tools, or additional skills as necessary -->
        <app-thm-badge />
    </div>
</section>
