<div class="project-entry" [class.opacity-animation]="animate" [class.opacity]="transparent && !animate">
    @if (project.name != 'Coming Soon') {
        <h3><span class="gradient-text">{{ project.name }}</span></h3>
        <p><strong>Technologies:</strong></p>
        <div class="badges-container">
            @for (badge of project.technologies; track $index) {
                <span class="badge"><img src="{{ badge.image }}" alt="{{ badge.name }}">{{ badge.name }}</span>
            }
        </div>
        <p><strong>Details:</strong></p>
        <ul>
            @for (detail of project.details; track $index) {
                <li>{{ detail }}</li>
            }
        </ul>
        <div class="project-links-wrapper">
            <div class="project-links">
                <a href="{{ project.link }}" target="_blank"><img width="40px" src="assets/web.png" alt="Web App">Live Demo</a>
                <a href="{{ project.github }}" target="_blank"><img width="40px" src="assets/github.svg" alt="GitHub">View Code</a>
            </div>
        </div>
    } @else {
        <div class="coming-soon"><img src="assets/coming-soon.png" alt="Coming Soon"></div>
    }
</div>