<div class="nav-container" [class.is-mobile]="true">
    <mat-toolbar class="toolbar">
        <img id="logo" width="40" src="assets/logo/escobedev.svg" alt="EscobeDev">
        <strong [style.font-family]="'Arial'">&nbsp;escobe<span class="gradient-text">dev</span></strong>
        <span class="spacer"></span>
        @if (mobileQuery.matches) {
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        } @else {
            <mat-nav-list class="flex-list">
                @for (a of menu; track a) {
                    @if (a.name !== 'Codex') {
                        <a
                            mat-list-item
                            routerLink="{{ a.route || '.' }}"
                            routerLinkActive
                            #rla="routerLinkActive"
                            [activated]="rla.isActive"
                            (click)="mobileQuery.matches ? snav.close() : null"
                        >
                            <div matListItemTitle>{{ a.name }}</div>
                        </a>
                    } @else {
                        <a
                            mat-list-item
                            (click)="mobileQuery.matches ? snav.close() : null; openDialog();"
                        >
                            <div matListItemTitle>{{ random() }}</div>
                        </a>
                    }
                }
            </mat-nav-list>
            <button mat-icon-button [matTooltip]="currentTheme === 'dark' ? 'Light Mode': 'Dark Mode'" (click)="toggleTheme()">
                <mat-icon matListItemIcon>{{ currentTheme === 'dark' ? 'dark_mode' : 'light_mode' }}</mat-icon>
            </button>   
        }     
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 56">
        <mat-sidenav #snav position="end" [mode]="'over'" [fixedInViewport]="mobileQuery.matches" [fixedTopGap]="56">
            <mat-nav-list>
                @for (a of menu; track a) {
                    @if (a.name !== 'Codex') {
                        <a
                            mat-list-item
                            routerLink="/{{ a.route }}"
                            routerLinkActive
                            #rla="routerLinkActive"
                            [activated]="rla.isActive"
                            (click)="mobileQuery.matches ? snav.close() : null"
                        >
                            <mat-icon matListItemIcon>{{ a.icon }}</mat-icon>
                            <div matListItemTitle>{{ a.name }}</div>
                        </a>
                    } @else {
                        <a mat-list-item (click)="mobileQuery.matches ? snav.close() : null; openDialog();">
                            <mat-icon matListItemIcon>{{ a.icon }}</mat-icon>
                            <div matListItemTitle>{{ random() }}</div>
                        </a>
                    }
                }
                <button mat-fab extended (click)="toggleTheme()">
                    <mat-icon matListItemIcon>{{ currentTheme === 'dark' ? 'dark_mode' : 'light_mode' }}</mat-icon>
                    <div matListItemTitle>{{ currentTheme === 'dark' ? 'Light Mode' : 'Dark Mode' }}</div>
                </button>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>