<h2 mat-dialog-title>Coming soon...</h2>
<mat-dialog-content>
    <div class="panel">
        <h3>Chronova</h3>
        <a href="https://chronova.escobedev.com" mat-raised-button>Explore</a>
    </div>
    <mat-divider></mat-divider>
    <div class="panel">
        <h3>Local Storage</h3>
        <button mat-raised-button (click)="clearLocalStorage()">Clear Data</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>