@if (project.name != 'Coming Soon') {
    <mat-card class="project-card card-list-fetching-animation" appearance="outlined">
        <mat-card-header>
            <mat-icon mat-card-avatar [style.font-size.px]="45" [style.width.px]="45" [style.height.px]="45">{{ project.icon }}</mat-icon>
            <mat-card-title class="gradient-text"><strong>{{ project.name }}</strong></mat-card-title>
            <mat-card-subtitle>{{ project.link }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Technologies:</strong></p>
            <mat-chip-set>
                @for (icon of project.technologies; track $index) {
                    <mat-chip>
                        <img matChipAvatar src="{{ icon.image }}" alt="{{ icon.name }}">
                        <span>{{ icon.name }}</span>
                    </mat-chip>
                }
            </mat-chip-set>
            <p><strong>Details:</strong></p>
            <ul>
                @for (detail of project.details; track $index) {
                    <li>{{ detail }}</li>
                }
            </ul>
        </mat-card-content>
        <mat-card-actions>
            <div class="project-links">
                <a mat-flat-button href="{{ project.link }}" target="_blank"><mat-icon>open_in_new</mat-icon>Live Demo</a>
                <a mat-stroked-button href="{{ project.github }}" target="_blank"><mat-icon>code</mat-icon>View Code</a>
            </div>
        </mat-card-actions>
    </mat-card>
} @else {
    <mat-card class="coming-soon card-list-fetching-animation" appearance="outlined">
        <img src="assets/coming-soon.png" alt="Coming Soon">
    </mat-card>
}