<div class="full-stack">
    <p
        [style.font-size]="'3rem'"
        [style.text-align]="'center'"
        [style.margin]="load() ? '0px' : '20px'"
        [style.height]="load() ? '0px' : '75vh'"
        [style.opacity]="load() ? '0' : '1'"
        [style.transform]="load() ? 'translateY(-100px)' : 'translateY(0)'"
        [style.transition]="'height 1s ease-in-out, margin 1s ease-in-out, opacity 0.5s ease-in-out, transform 1s ease-in-out'"
        [style.display]="hide() ? 'none' : 'flex'"
        [style.justify-content]="'center'"
        [style.align-items]="'center'"
    >
        <app-typing-text [text]="title" [speed]="200"/>
    </p>
    @if (load()) {
        @defer (on viewport) {
            <div class="home gradient-background full-width border-box">
                <div class="profile">
                    @defer (on viewport) {
                        <div class="profile-img bloom-animation">
                            @defer (on viewport; prefetch on idle) { <img [style.transform]="'scale(1.2)'" src="assets/profile-pic.jpg" alt="EscobeDev" loading="lazy"> }
                            @placeholder { <div width="150px" height="150px" class="image-placeholder"><mat-spinner></mat-spinner></div> }
                        </div>
                    }
                    @placeholder (minimum 500ms) { <div class="profile-img transparent"><div height="150px"> </div></div> }
                    <div class="profile-info">
                        @defer (on viewport) { <h1 class="fetch-animation" [style.font-family]="'Arial'">Bruno Escobedo</h1> }
                        @placeholder (minimum 500ms) { <h1 class="transparent" [style.font-family]="'Arial'">Bruno Escobedo</h1> }
                        @defer (on viewport) {
                            <div class="fetch-animation">
                                <div class="social"><span class="gradient-text">&#64;escobedev</span></div>
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/bruno-escobedo/" target="_blank"><img width="30px" src="{{ isDarkMode ? 'assets/linkedin-light.png' : 'assets/linkedin-dark.svg' }}" alt="LinkedIn"></a></li>
                                    <li><a href="https://github.com/escobedev" target="_blank"><img width="30px" src="{{ isDarkMode ? 'assets/github-light.png' : 'assets/github-dark.svg' }}" alt="GitHub"></a></li>
                                    <li><a href="https://x.com/escobedev" target="_blank"><img width="30px" src="{{ isDarkMode ? 'assets/twitter-light.png' : 'assets/twitter-dark.png' }}" alt="Twitter"></a></li>
                                </ul>
                            </div>
                        }
                        @placeholder (minimum 750ms) {
                            <div class="transparent">
                                <div class="social"><span>&#64;escobedev</span></div>
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/bruno-escobedo/" target="_blank"><img width="30px" src="{{ isDarkMode ? 'assets/linkedin-light.png' : 'assets/linkedin-dark.svg' }}" alt="LinkedIn"></a></li>
                                    <li><a href="https://github.com/escobedev" target="_blank"><img width="30px" src="{{ isDarkMode ? 'assets/github-light.png' : 'assets/github-dark.svg' }}" alt="GitHub"></a></li>
                                    <li><a href="https://x.com/escobedev" target="_blank"><img width="30px" src="{{ isDarkMode ? 'assets/twitter-light.png' : 'assets/twitter-dark.png' }}" alt="Twitter"></a></li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                @defer (on viewport) { <p class="fetch-animation">Hi, I'm <strong>Bruno Jair Escobedo Aguilar</strong>, a self-taught <strong>software developer</strong></p> }
                @placeholder (minimum 1000ms) { <p class="transparent">Hi, I'm <strong>Bruno Jair Escobedo Aguilar</strong>, a self-taught <strong>software developer</strong></p> }
            </div><br>
        }
        @placeholder { <div class="block" height="100vh"></div> }

        @defer (on viewport) {
            <div class="block fetch-animation gradient-background-radial">
                <h2>About Me</h2>
                <p class="section-item">
                    Hello! I'm Bruno Escobedo, a passionate software developer based in Lima, Peru.
                    I am a dedicated and detail-oriented professional with a background in fiber optic projects, currently transitioning into the dynamic fields of software development and cybersecurity.
                </p>
                @defer (on viewport) { <div class="section-item bloom-animation"><a mat-flat-button routerLink="/about">Read more</a></div> }
                @placeholder (minimum 250ms) { <div class="section-item transparent"><a mat-flat-button> </a></div> }
            </div>
        }
        @placeholder (minimum 500ms) { <div class="block" height="100vh"></div> }

        @defer (on viewport) {
            <div class="block fetch-animation">
                <h2>My Latest Projects</h2>
                <mat-accordion class="section-item">
                    @for (project of latest_projects; track project) {
                        <mat-expansion-panel [expanded]="step() === $index" (opened)="setStep($index)">
                            <mat-expansion-panel-header>
                                <mat-panel-title><mat-icon>{{ project.icon }}</mat-icon>&nbsp;&nbsp;{{ project.name }}</mat-panel-title>
                            </mat-expansion-panel-header>
                            
                            <p>{{ project.details[0] }}</p>
                            <mat-chip-set>
                                @for (tagPath of project.tags; track $index) {
                                    @let tag = getTag(tagPath);
                                    <mat-chip [routerLink]="'/skills/' + tagPath">
                                        <img matChipAvatar height="20px" src="{{ tag.image }}" alt="{{ tag.name }}">
                                        <span>{{ tag.name }}</span>
                                    </mat-chip>
                                }
                            </mat-chip-set>
                            
                            <mat-action-row>
                                <a mat-flat-button href="{{ project.link }}" target="_blank"><mat-icon>open_in_new</mat-icon>Live Demo</a>
                                <a mat-stroked-button href="{{ project.github }}" target="_blank"><mat-icon>code</mat-icon>View Code</a>
                            </mat-action-row>
                        </mat-expansion-panel>
                    }
                </mat-accordion>
                @defer (on viewport) { <div class="section-item bloom-animation"><a mat-flat-button routerLink="/projects">See more</a></div> }
                @placeholder (minimum 250ms) { <div class="section-item transparent"><a mat-flat-button> </a></div> }
            </div>
        }
        @placeholder (minimum 500ms) { <div class="block" height="100vh"></div> }
    }
</div>