<div class="flex-container">
    <p
        [style.font-size]="'3rem'"
        [style.text-align]="'center'"
        [style.margin]="load() ? '0px' : '20px'"
        [style.height]="load() ? '0px' : '75vh'"
        [style.opacity]="load() ? '0' : '1'"
        [style.transform]="load() ? 'translateY(-100px)' : 'translateY(0)'"
        [style.transition]="'height 1s ease-in-out, margin 1s ease-in-out, opacity 0.5s ease-in-out, transform 1s ease-in-out'"
        [style.display]="hide() ? 'none' : 'flex'"
        [style.justify-content]="'center'"
        [style.align-items]="'center'"
    >
        <app-typing-text [text]="title"/>
    </p>
    @if (load()) {
        <div class="page-title fetch-animation">
            <mat-icon [style.font-size.px]="45" [style.width.px]="45" [style.height.px]="45">token</mat-icon>
            <h1>Projects</h1>
        </div>
        <div class="grid-button-list">
            @for (field of fields; track field) {
                <button mat-fab extended (click)="filterProjects(field.name)" [disabled]="!['Web'].includes(field.name)"><mat-icon>{{ field.icon }}</mat-icon>{{ field.name }}</button>
            }
        </div>
        @if (dataLoaded()) {
            <div class="flex-container fetch-animation">
                <p class="section-title">
                    {{ selected() }} Projects&nbsp;
                    <mat-chip>{{ projects().length - 1 }}</mat-chip>
                </p>
                <mat-tab-group class="full-width" mat-stretch-tabs mat-align-tabs="center" dynamicHeight>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon>filter_list</mat-icon>
                            &nbsp;Filter by skill
                        </ng-template>
                        <div class="flex-container">
                            <mat-chip-set [style.padding.px]="10" [style.max-width.px]="720">
                                @for (tag of allTags; track $index) {
                                    <mat-chip-option (click)="toggleTag(tag)">
                                        <div
                                            matChipAvatar
                                            [style.height]="'100%'"
                                            [style.background-image]="'url(' + tag.image + ')'"
                                            [style.background-size]="'contain'"
                                            [style.background-position]="'center'"
                                            [style.background-repeat]="'no-repeat'"
                                        ></div>
                                        {{ tag.name }}
                                    </mat-chip-option>
                                }
                            </mat-chip-set>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <div class="grid-list">
                    @for (project of projects(); track project) {
                        <app-project-box [project]="project" [index]="$index % 4 + 1" [tags]="getTags(project.tags)"/>
                    }
                </div>
                <button mat-fab (click)="scrollUp()"><mat-icon>arrow_upward</mat-icon></button>
                <app-footer class="full-width" />
            </div>
        } @else if (selected()) {
            <br><mat-spinner></mat-spinner>
        }
    }
</div>
