.skills {
    background-color: transparent;
    text-align: justify;
    opacity: 0;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills[data-loaded="true"] {
    opacity: 1;
    animation: jump 1s;
}
@keyframes jump {
    from { margin-top: 200px; }
    to { margin-top: 0; }
}

.skills h2 {
    padding: 0px;
    margin-top: 40px;
    color: #fff;
}

.skills-content, .skills-overview {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}

.skills-overview-content {
    flex-grow: 1;
    max-width: 500px;
    margin: 10px;
    background-color: #1a2332;
    border: 1px solid #202837;
    color: #a4b1cd;
    border-radius: 20px;
    padding: 20px;
}

.thm-overview {
    width: 100%;
}