/* You can add global styles to this file, and also import other style files */
:root {
    --theme-color-1: #26ceaa;
    --theme-color-1-light: #98e8c1;
    --theme-color-1-dark: #078d70;
    --theme-color-1-2: #3b8bbb;
    --theme-color-2: #5049cc;
    --theme-color-2-light: #7bade2;
    --theme-color-2-dark: #3d1a78;
    --theme-color-dark: #141d2b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.special-btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    border: 3px solid var(--mat-app-text-color);
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(135deg, var(--theme-color-1), var(--theme-color-2));
    box-shadow: 0px 3px 0px var(--mat-app-text-color);
}
.special-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--theme-color-2), var(--theme-color-1));
    transition: opacity 0.5s ease;
    border-radius: 20px;
    z-index: 0;
    opacity: 0;
}
.special-btn:hover::before {
    opacity: 1;
}
.special-btn span {
    position: relative;
    color: #fff;
    z-index: 1;
}
.special-btn:disabled {
    opacity: 0.5;
    cursor: default;
    background: #ccc;
}
.special-btn:disabled:hover::before {
    opacity: 0;
}

.badges-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.badge {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #eee;
    color: #1a2332;
    font-weight: 500;
    text-wrap: nowrap;
    display: block;
}
.badge img {
    vertical-align: middle;
    margin-right: 5px;
    height: 15px;
}

.chunk {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.gradient-text {
    font-weight: bold;
    background-image: linear-gradient(135deg, var(--theme-color-1), var(--theme-color-2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-background-flat {
    background: linear-gradient(135deg, var(--theme-color-1), var(--theme-color-2));
}

.opacity-animation {
    animation: show 1s ease;
}
.opacity {
    opacity: 0;
}
.show-animation {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
@keyframes show {
    from { opacity: 0; scale: 10%; }
    to { opacity: 1; scale: 100%; }
}
