.home {
    text-align: center;
    padding: 5% 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    min-height: 500px;
    opacity: 0;
    transition: 0.5s ease-out;
}
.home[data-loaded="true"] {
    opacity: 1;
}

.home h1 {
    color: #fff;
}
.home p {
    color: #ddd;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}
.buttons button {
    flex: 1;
    text-wrap: nowrap;
}