<section class="experience" [attr.data-loaded]="isLoaded">
    <div class="general-overview">
        <div class="widget-title"><h2>Experience</h2></div>
        <div class="company-list">
            @for (company of companies; track $index) {
                <div class="company">
                    <div class="company-title">
                        <div class="company-logo"><img src="{{ company.logo }}" alt="{{ company.name }}"></div>
                        <div class="company-name">{{ company.name }}</div>
                    </div>
                    <div class="company-description">{{ company.description }}</div>
                    <div class="company-positions">
                        @for (jobPosition of JobEntries; track $index) {
                            @if (jobPosition.company.name == company.name) {
                                <div class="job-position">{{ jobPosition.position }}</div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="experience-content">
        @for (jobEntry of jobEntries(); track $index) {
            @defer (on viewport; prefetch on viewport) {
                <app-job-box [job]="jobEntry" [animate]="true" (loaded)="loaded($event)" />
            } @placeholder {
                <app-job-box [job]="jobEntry" [transparent]="true" />
            }
        }
    </div>
</section>
