<div class="skills-container card-list-fetching-animation">
    <h2>{{ box.name }}</h2>
    <div class="card-list">
        @for (skill of box.skills; track $index) {         
            @if(skill.badges.length > 0) {
                <mat-card [class]="'border-' + ($index % 4 + 1)" appearance="outlined">
                    <mat-card-header>
                      <mat-card-title [class]="'gradient-text-' + ($index % 4 + 1)">{{ skill.name }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <br>
                        <mat-chip-set>
                            @for (badge of skill.badges; track $index) {
                                @if (badge.type == "spoken-language") {
                                    <mat-chip>
                                        <img matChipAvatar src="{{ badge.image }}" alt="{{ badge.name }}">
                                        {{ badge.name }}
                                        @switch (badge.level) {
                                            @case ("A1") { <b style="color: red">{{ badge.level }}</b> }
                                            @case ("A2") { <b style="color: orange">{{ badge.level }}</b> }
                                            @case ("B1") { <b style="color: #deb204">{{ badge.level }}</b> }
                                            @case ("B2") { <b style="color: #80bf0a">{{ badge.level }}</b> }
                                            @case ("C1") { <b style="color: #1bbf8b">{{ badge.level }}</b> }
                                            @case ("C2") { <b style="color: #2965ff">{{ badge.level }}</b> }
                                            @default { <b>{{ badge.level }}</b> }
                                        } 
                                    </mat-chip>
                                } @else if (badge.type == "soft-skill") {
                                    <mat-chip (click)="toggleBadgeLevel(badge.name)">
                                        <img matChipAvatar src="{{ badge.image }}" alt="{{ badge.name }}">
                                        {{ badge.name }}
                                        @switch (badge.level) {
                                            @case ("0") { <b style="color: red">{{ getLevelSS(badge) }}</b> }
                                            @case ("1") { <b style="color: orange">{{ getLevelSS(badge) }}</b> }
                                            @case ("2") { <b style="color: #deb204">{{ getLevelSS(badge) }}</b> }
                                            @case ("3") { <b style="color: #80bf0a">{{ getLevelSS(badge) }}</b> }
                                            @case ("4") { <b style="color: #1bbf8b">{{ getLevelSS(badge) }}</b> }
                                            @case ("5") { <b style="color: #2965ff">{{ getLevelSS(badge) }}</b> }
                                        }
                                    </mat-chip>
                                } @else {
                                    <mat-chip (click)="toggleBadgeLevel(badge.name)">
                                        <img matChipAvatar src="{{ badge.image }}" alt="{{ badge.name }}">
                                        {{ badge.name }}
                                        @switch (badge.level) {
                                            @case ("Basic") { <b style="color: #deb204">{{ getLevel(badge) }}</b> }
                                            @case ("Intermediate") { <b style="color: #80bf0a">{{ getLevel(badge) }}</b> }
                                            @case ("Advanced") { <b style="color: #2965ff">{{ getLevel(badge) }}</b> }
                                        }
                                    </mat-chip>
                                }
                            }
                        </mat-chip-set>
                    </mat-card-content>
                </mat-card> 
            }
        }
    </div>
</div>